@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('./fonts/mulish-v12-latin-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('./fonts/mulish-v12-latin-900.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('./fonts/mulish-v12-latin-700.woff2') format('woff2');
    font-display: swap;
}

:root {
    --as-beige: #E1DEDE;
    --as-black: #252525;
    --as-orange: #E26C0F;
    --as-hover-orange: #C05B0C;
    --as-light-grey: #F8F8F8;
    --as-red: #E20F1C;

    --altshift-border-width: 0.125rem;
    --altshift-box-offset-top: 0.5rem;
    --altshift-box-offset-left: 0.625rem;

    --altshift-main-color: var(--as-beige);
    --altshift-opposite-main-color: var(--as-black);

    --altshift-complement-color: var(--as-light-grey);
    --altshift-opposite-complement-color: var(--as-orange);

    --altshift-text-color: var(--as-black);
    --altshift-opposite-text-color: var(--as-light-grey);

    --altshift-border-color: var(--as-black);
    --altshift-opposite-border-color: var(--as-beige);

    --altshift-box-color: var(--as-light-grey);
    --altshift-opposite-box-color: var(--as-beige);

    --header-footer-width: 85%;
    --main-width: 80%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --altshift-main-color: var(--as-black);
        --altshift-opposite-main-color: var(--as-beige);

        --altshift-complement-color: var(--as-orange);
        --altshift-opposite-complement-color: var(--as-light-grey);

        --altshift-text-color: var(--as-light-grey);
        --altshift-opposite-text-color: var(--as-black);

        --altshift-border-color: var(--as-beige);
        --altshift-opposite-border-color: var(--as-black);

        --altshift-box-color: var(--as-beige);
        --altshift-opposite-box-color: var(--as-light-grey);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    scrollbar-color: var(--altshift-text-color) var(--altshift-main-color);
    scrollbar-width: thin;
}

html {
    font-family: Mulish;

    @media screen and (max-width: 1280px) {
        font-size: 14px;
    }
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--altshift-main-color);
    color: var(--altshift-text-color)
}

header {
    width: 100%;
    padding-top: 2rem;
    z-index: 30;
}

footer {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: var(--main-width)
}

label {
    font-weight: bold;
}

input, textarea, output, select {
    background-color: var(--altshift-main-color);
    color: var(--altshift-text-color);
    padding: 0.5rem 1rem;
    border: var(--altshift-border-width) solid var(--altshift-border-color);
    font-family: inherit;
}

dialog {
    background-color: var(--altshift-main-color);
    color: var(--altshift-text-color);
}

:where(input, textarea, output, select):focus-visible {
    outline: var(--altshift-text-color) solid calc(0.5 * var(--altshift-border-width));
}

input:invalid:not(:focus):not(:placeholder-shown) {
    outline-color: var(--as-red);
    border-color: var(--as-red);
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 15.625rem;
    text-transform: lowercase;

    @media screen and (max-width: 1280px) {
        font-size: 5.2083rem;
    }
}

h2 {
    font-weight: 900;
    font-size: 2.5rem;
}
