@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local('Mulish Regular'), local('Mulish'), url('./fonts/mulish-v12-latin-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local('Mulish Bold'), url('./fonts/mulish-v12-latin-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: local('Mulish Black'), url('./fonts/mulish-v12-latin-900.woff2') format('woff2');
    font-display: swap;
}

:root {
    --altshift-beige: #E1DEDE;
    --altshift-black: #252525;
    --altshift-orange: #E26C0F;
    --altshift-hover-orange: #C05B0C;
    --altshift-light-grey: #F8F8F8;
    --altshift-red: #E20F1C;

    --altshift-border-width: 0.125rem;
    --altshift-box-offset-top: 0.5em;
    --altshift-box-offset-left: 0.625em;
}

html:not(.dark) {
    --altshift-main-color: var(--altshift-beige);
    --altshift-opposite-main-color: var(--altshift-black);

    --altshift-complement-color: var(--altshift-light-grey);
    --altshift-opposite-complement-color: var(--altshift-orange);

    --altshift-text-color: var(--altshift-black);
    --altshift-opposite-text-color: var(--altshift-light-grey);

    --altshift-border-color: var(--altshift-black);
    --altshift-opposite-border-color: var(--altshift-beige);

    --altshift-box-color: var(--altshift-light-grey);
    --altshift-opposite-box-color: var(--altshift-beige);

    @media (prefers-color-scheme: dark) {
        --altshift-main-color: var(--altshift-black);
        --altshift-opposite-main-color: var(--altshift-beige);

        --altshift-complement-color: var(--altshift-orange);
        --altshift-opposite-complement-color: var(--altshift-light-grey);

        --altshift-text-color: var(--altshift-light-grey);
        --altshift-opposite-text-color: var(--altshift-black);

        --altshift-border-color: var(--altshift-beige);
        --altshift-opposite-border-color: var(--altshift-black);

        --altshift-box-color: var(--altshift-beige);
        --altshift-opposite-box-color: var(--altshift-light-grey);
    }
}

html.dark {
    --altshift-main-color: var(--altshift-black);
    --altshift-opposite-main-color: var(--altshift-beige);

    --altshift-complement-color: var(--altshift-orange);
    --altshift-opposite-complement-color: var(--altshift-light-grey);

    --altshift-text-color: var(--altshift-light-grey);
    --altshift-opposite-text-color: var(--altshift-black);

    --altshift-border-color: var(--altshift-beige);
    --altshift-opposite-border-color: var(--altshift-black);

    --altshift-box-color: var(--altshift-beige);
    --altshift-opposite-box-color: var(--altshift-light-grey);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Mulish;
    color: var(--altshift-text-color);

    @media screen and (max-width: 1280px) {
        font-size: 14px;
    }
}

label {
    font-weight: 700;
}

input, textarea, output, select {
    background-color: var(--altshift-main-color);
    color: var(--altshift-text-color);
    padding: 0.5rem 1rem;
    border: var(--altshift-border-width) solid var(--altshift-border-color);
    font-family: inherit;
}

dialog {
    background-color: var(--altshift-main-color);
    color: var(--altshift-text-color);
}

:where(input, textarea, output, select):focus-visible {
    outline: var(--altshift-text-color) solid calc(0.5 * var(--altshift-border-width));
}

input:user-invalid {
    outline-color: var(--altshift-red);
    border-color: var(--altshift-red);
}

